/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #42b983;
  --ifm-color-primary-dark: #3aa876;
  --ifm-color-primary-darker: #379f70;
  --ifm-color-primary-darkest: #2d835c;
  --ifm-color-primary-light: #4ac290;
  --ifm-color-primary-lighter: #54c696;
  --ifm-color-primary-lightest: #6dd3a6;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #4ac290;
  --ifm-color-primary-dark: #35b67f;
  --ifm-color-primary-darker: #2fad77;
  --ifm-color-primary-darkest: #278f62;
  --ifm-color-primary-light: #5fcea1;
  --ifm-color-primary-lighter: #6dd3a6;
  --ifm-color-primary-lightest: #8ddeb9;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
